* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: rgb(255, 0, 140);
}

div{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    word-wrap: none;
    overflow: hidden;
    text-overflow: hidden;
word-wrap: break-word;
word-break: break-all;
vertical-align: baseline;
}

.blue{
    width: 50%;
}